body {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 35px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.top-container {
  height: 700px;
  padding:0 100px;
  background-image: url('file:///C:/Users/cagla/Desktop/Web%20Development/huddle-landing/images/background.svg');
  background-color: hsl(193, 100%, 96%);
}

.logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
  position: relative;
  margin: 4rem 0;
  width: 10%;
}

.header-container {
	display: flex;
	justify-content:space-between;
}


.illustration {
	width: 700px;
	height: 500px;
}

.middle-container {
	display: flex;
	flex-flow:column
}


.top-middle {
	display: flex;
	justify-content:space-between;
	margin: 5% 10%;
	padding: 2%;
	border-radius: 10px;
	border-width: 2px;
	box-shadow: 1px 1px 2px 2px #b8b8b8;
}

.grow-together {
  width:200px;
  height:200px
}

.middle-middle {
	display: flex;
	justify-content:space-between;
	margin: 0 10%;
	padding: 2%;
	border-radius: 10px;
	border-width: 2px;
	box-shadow: 1px 1px 2px 2px #b8b8b8;
}

.flowing-conversation {
  width: 200px;
  height: 200px;
}

.bottom-middle {
	display: flex;
	justify-content:space-between;
	margin: 5% 10% 10% 10%;
	padding: 2%;
	border-radius: 10px;
	border-width: 2px;
	box-shadow: 1px 1px 2px 2px #b8b8b8;
}

.your-users {
  width: 200px;
  height: 200px;
}

.bottom-container {
  background-color: hsl(192, 100%, 9%);
  margin: 5% 0 -5% 0 
}

.abc {
	display: flex;
	flex-flow:column;
	align-items:center;
	align-content:center;
	padding: 5rem;
	border-radius: 10px;
	border-width: 2px;
	box-shadow: 1px 1px 2px 2px #b8b8b8;
	background-color: white;
	text-align: center;
	color: black;
}


.lorem {
  margin:0 1rem;
  color: #fff;
}

.material-icons {
	color:#fff
}

.logo2 {
  margin-bottom: 20px;
}

.copyright {
  font-size: 10px;
  text-align: end;
  padding:2rem;
  color: #fff
}

.btn1 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 1px 1px 2px 2px #b8b8b8;
  font-family: Arial;
  color: #050505;
  font-size: 18px;
  background: #ffffff;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
}

.btn1:hover {
  background: #3cb0fd;
  color: #fff
}

.btn {
  position: absolute;
  margin-top: 20px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 1px 1px 2px 2px #b8b8b8;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: hsl(322, 100%, 66%);
  padding: 15px 50px 15px 50px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
}

.btn3 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 1px 1px 2px 2px #b8b8b8;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: hsl(322, 100%, 66%);
  padding: 20px 70px 20px 70px;
  text-decoration: none;
}

.btn3:hover {
  background: #3cb0fd;
}
